html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* common styles */
body {
    background: #f1f1f1;
    color: #000;
    padding: 2em;
    margin: 0;
    background-image: url('../images/thumb-1920-637668.jpg');
    background-size: 175%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial;
}
.container {
	max-width: 1060px;
	padding: 0em;
	margin: 0 auto;
}
img {
	text-align: center;
	margin: 0 auto;
}
h3 {
	font-style: normal;
    font-family: 'Game of Thrones'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 15px;
    margin: 0 0;
    text-align: center;
}
.scores h4 {
	display: inline-block;
	min-width: 100px;
}
h2 {
    font-style: normal;
    font-family: 'Game of Thrones'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 40px;
    margin: 2em 0;
    text-align: center;
}
.leaderboard {
	clear: both;
	float: left;
	width: 98%;
	padding: 10px;
}
.leaderboard .left {
	width: 50%;
	float: left;
}
.leaderboard .right {
	border-radius: 5px;
	width: 49%;
	float: right;
	text-align: left;
	background-color: rgba(255,255,255,0.8);
	padding-top: 1em;
	padding-bottom: 0;
	border: solid 2px black;
}

.scores {
	border-bottom: solid 2px black;
	padding: 1px 5px;
}
#linedata {
	list-style: none;
	padding: 0;
	margin: 0;
}
#linedata .item {
	background-color: rgba(255,255,255,0.8);
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	float: left;
	padding: 2em;
	border: double 5px black;
	margin: 0.5em;
	height: 175px;
	width: 175px;
	position: relative;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#linedata .item .theory {
	font-style: normal;
    font-family: 'Game of Thrones'; 
    font-weight: normal; 
    font-style: normal;
    line-height: 1.4;
    z-index: 999;
    position: relative;
}
#linedata .item h4 {
	font-family: arial;
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}
#linedata .item .happenedno {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	height: 100%;
	background-image: url('../images/no.svg');
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: 40px;
	text-indent: -999px;
	overflow: hidden;
}
#linedata .item .happenedyes {
	position: absolute;
	bottom: 0;
	z-index: 10;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/yes.svg');
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: 40px;
	text-indent: -999px;
	overflow: hidden;
}
#linedata .item .happenedsortof {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: url('../images/sortof.svg');
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: 40px;
	text-indent: -999px;
	overflow: hidden;
}

@media (max-width:961px)  {
   .leaderboard .left, .leaderboard .right {
		width: 100%;
		text-align: center;
   }
   body {
   	background-size: cover;
   }
   h2 {
   	line-height: 1.4;
   	margin: 1em 0;
   }
}

